body {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.main {
    align-self: center;
    align-items: center;
    justify-content: center;
}

.slide {
    max-width: 550px;
    align-items: center;
    justify-content: center;
}

.title {
   position: absolute;
   top: 20px;
}

.gradient {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/background.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

h1 {
    font-family: 'Orbitron', sans-serif;
}
